/* 左导航 */
.shellBox :nth-child(1) {
    background-color: #fafafa;
    font-size: 15px;
    font-weight: 600;
    color: #313131;
}

/* 主界面 */
/* 顶部导航 */
.indexTop :nth-child(1) {
    color: #313131;
    font-size: 18px;
    font-weight: 600;
    margin-top: 13px;
    margin-right: 20px;
    margin-left: 20px;
    border-bottom: 2px solid #ec4141;
}

/* 轮播图 */
.cardBox {
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    width: 700px;
    height: 210px;
}

.imgs img {
    width: 490px;
    height: 180px;
}

/* 给左右按钮设计样式，和定位 */
.lefts {
    position: absolute;
    font-size: 15px;
    font-weight: 600;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 25px;
    text-align: center;
    background-color: #989898;
    color: white;
    /* 添加半透明 */
    opacity: 0.3;
    top: 80px;
    left: 10px;
    z-index: 999;
}

.lefts:hover {
    opacity: 0.7;
}

.rights:hover {
    opacity: 0.7;
}

.rights {
    position: absolute;
    font-weight: 600;
    font-size: 15px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 25px;
    text-align: center;
    background-color: #989898;
    color: white;
    /* 添加半透明 */
    opacity: 0.3;
    top: 80px;
    right: 10px;
    z-index: 999;
}

/* 图片盒子 */
.imgs {
    position: absolute;
    left: 100px;
    width: 500px;
    height: 180px;
    border-radius: 5px;
}

.imgs img {
    width: 500px;
    height: 180px;
    border-radius: 5px;
}

/* 让图片都叠在一起 */
.imgs li {
    position: absolute;
    width: 500px;
    transition: 0.5s;
}

/* 把图片错开 */
.imgs .one {
    transform: translateX(-120px) scale(0.9);
    z-index: 1;
}

/* 第二张图片在中间，层级最高 */
.imgs .two {
    z-index: 2;
}

.imgs .three {
    transform: translateX(120px) scale(0.9);
    z-index: 1;
}

/* 刚开始不显示的图片就放在中间图片的下面 */
.imgs .four {
    transform: scale(0.9);
}

.imgs .five {
    transform: scale(0.9);
}

.imgs .six {
    transform: scale(0.9);
}

/* 圆圈 */
.list {
    width: 120px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    left: 275px;
    bottom: 0;
}

.list li {
    float: left;
    width: 5px;
    height: 5px;
    background-color: #e5e5e5;
    border-radius: 50%;
    margin: 0 7px;
    margin-top: 10px;
    cursor: pointer;
}

.list .change {
    background-color: #ec4141;
}

.leftb {
    position: absolute;
    left: 0;
    height: 200px;
    width: 100px;
    z-index: 80;
}

.rightb {
    position: absolute;
    right: 0;
    height: 200px;
    width: 100px;
    z-index: 80;
}

/* 推荐歌单 */
#tuiTitle {
    margin-left: 20px;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.15em;
}

.tuiBox {
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.tui {
    width: 125px;
    height: 150px;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
}

.tui>img {
    width: 125px;
    height: 125px;
    border-radius: 5px;
    overflow: hidden;
}

.boFang {
    position: absolute;
    width: 50px;
    left: 65px;
    color: #fff;
    overflow: hidden;
}

/* 最新音乐 */
#newTitle {
    margin-left: 20px;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.15em;
}

.newBox {
    margin: 0 auto;
    width: 690px;
    height: 222px;
    display: flex;
    flex-wrap: wrap;
}

.new {
    width: 220px;
    height: 45px;
    margin: 5px;
    overflow: hidden;
}

.newImg img {
    width: 45px;
    border-radius: 5px;
}

.newImg {
    float: left;
}

.newText {
    float: left;
}

.newSong {
    font-size: 15px;
}