/* 页面定位 */

/* 头部 */
.header {
    flex-shrink: 0;
    background-color: #ec4141;
    margin-left: 2px;
    width: 926px;
    height: 55px;
}

#logoImg {
    margin: 9px;
    height: 37px;
    float: left;
}

.idBox {
    color: #fbd9d9;
    float: right;
    margin-right: 250px;
    width: 150px;
    height: 25px;
    margin-top: 15px;
}

#touXiang {
    float: left;
    height: 100%;
}

#touXiang>img {
    width: 25px;
    border-radius: 12.5px;
}

#niCheng {
    margin: 4px;
    float: left;
}

/* 中心 */
.main {
    flex: 0;
    width: 926px;
    height: 511px;
    margin: 0 2px 2px auto;
}

.left,
.right {
    background-color: #fff;
}

/* 左导航 */
.left {
    overflow-y: scroll;
    float: left;
    width: 182px;
    height: 511px;
}

.shellBox {
    margin-top: 13px;
}

.listTitle {
    margin: 0 auto;
    padding-left: 5px;
    border-radius: 3px;
    width: 160px;
    height: 30px;
    line-height: 30px;
    color: #989898;
    letter-spacing: 0.05em;
}

.shell {
    /* background-color: aliceblue; */
    margin: 0 auto;
    padding-left: 5px;
    border-radius: 3px;
    width: 160px;
    line-height: 30px;
    font-size: 12px;
    letter-spacing: 0.05em;
}

.shell:hover {
    background-color: #fafafa;
}

.shell>img {
    width: 20px;
    margin-right: 5px;
}

/* 主体*/
.right {
    overflow-y: scroll;
    float: right;
    width: 743px;
    height: 511px;
}

/* 1-搜索 */

.searchBox {
    float: left;
    height: 100%;
    background-color: #e33e3e;
    margin-left: 100px;
    width: 150px;
    height: 25px;
    margin-top: 15px;
    border-radius: 12.5px;
}

#searchLogo {
    margin-top: 2.8px;
    margin-left: 10px;
    overflow: hidden;
    float: left;
}

#searchLogo>img {
    overflow: hidden;
    width: 18px;
}

#searchInput {
    color: #fff;
    float: right;
    overflow: hidden;
    width: 118px;
    font-size: 12px;
    border-radius: 12.5px;
    height: 100%;
    background-color: #e33e3e;
    /* background-color: black; */
}

#searchInput::-webkit-input-placeholder {
    color: #e26c6c;
    font-size: 12px;
}

#searchPage {
    position: fixed;
    margin-top: 10px;
    margin-left: 20px;
    width: 320px;
    height: 480px;
    border-radius: 5px;
    box-shadow: #e0e0e0 0 0 5px;
    background-color: #fff;
    overflow: scroll;
    z-index: -1;
}

#resou {
    height: 30px;
    line-height: 40px;
    text-align: center;
    font-size: 2px;
    color: #e0e0e0;
}

.theSearHot {
    height: 45px;
    display: flex;
}

.theSearHot:hover {
    background-color: #fafafa;
}

.searNum {
    margin: 0 20px;
    height: 45px;
    width: 20px;
    line-height: 45px;
    text-align: center;
    color: #d2d2d2;
}

.searName {
    height: 25px;
    line-height: 25px;
}

.searCon {
    height: 20px;
    color: #acacac;
}

/* 2-登录位置 */
#meBox {
    display: flex;
    margin-left: 280px;
    width: 255px;
    height: 370px;
    border-radius: 5px;
    box-shadow: #e0e0e0 0 0 10px;
    display: none;
}

/* 底部 */
.footer {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    width: 926px;
    height: 65px;
    margin: 2px auto;
    margin-top: 0;
    background-color: #fff;
}

/* 下-左 */
.foot-left {
    width: 200px;
    height: 65px;
}

#geImg {
    float: left;
    margin: 10px;
}

#geImg>img {
    width: 45px;
    border-radius: 5px;
}

#imf {
    background-color: #fff;
    float: left;
    margin: 10px;
}

/* 下-中 */
.foot-center {
    width: 390px;
    height: 65px;
}

.playBox {
    margin: 0 auto;
    width: 120px;
    height: 45px;
    display: flex;
    justify-content: space-between;
}

#pastBtn {
    margin-top: 15px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

#playBtn {
    margin-top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 15px;
}

#nextBtn {
    margin-top: 17px;
    width: 17px;
    height: 17px;
    border-radius: 8.5px;
}

.jinDuBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20px;
}

#geMing {
    font-size: 15px;
}

.jindutiao {
    margin-top: 7px;
    width: 315px;
    height: 3px;
    background-color: pink;
}

/* 下-右 */
.foot-right {
    width: 200px;
    height: 65px;
}

.labaBox>img {
    width: 25px;
    margin: 15px;
    float: right;
}